.Container{
  width: 800px;
  margin: 0 auto;
  padding: 0 clamp(1rem, 4vw, 2rem);

}
section{
  margin-bottom: 1.5rem;
}
.section :last-child {
  margin-bottom: 0;
}
input[type="text"],textarea, select{
  width: 100%;
  padding: 12px;
  border:1px solid #ddd;
  border-radius:4px
}
label{
  display: block;
  margin-bottom: 8px;
}
input[type="submit"]{
  background: #2196f3 ;
  color: #ddd;
  padding: 12px 24px;
}
input[type="submit"]:hover {
  background-color: blue;
}
table {
  overflow-x: auto;
   width: 70%;
   border-collapse: collapse;
      }
th, td {
   border: 1px solid #0d0c0c;
   padding :12px;
   text-align: left;
}
tr:hover {
  background-color: aqua;
  cursor:pointer;
}
